:root{
    --gray: #333333;
    --red: #e55451;
    --white: #FFFFFF;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 1.5em;
    background-color: var(--gray);
}

::-webkit-scrollbar-track{
    background: var(--red);
    border-radius: 200px;
    margin-block: 2vh;
}

::-webkit-scrollbar-thumb{
    background: var(--gray);
    border: 0.25em solid var(--red);
    border-radius: 200px;
}

::-webkit-scrollbar-thumb:hover{
    background: black;
}

header{
    width: 100%;
    height: fit-content;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--gray);
    user-select: none;
}

nav{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resp_nav{
    width: 0;
    height: fit-content;
    background-color: var(--gray);
    border-radius: 75px;
    position: absolute;
    top: 7.5vh;
    z-index: 1;
    right: 7.5vw;
    transition: 0.3s ease-in;
    border: 0;
}

.resp_a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    position: relative;
    opacity: 0.7;
    text-transform: uppercase;
    text-align: right;
    margin-block: 3.5vh;
    margin-right: 10%;
    transition: 0.3s ease-in;
}

nav li{
    list-style: none;
    display: inline-block;
}

nav li a{
    text-decoration: none;
    color: white;
    font-size: 2vh;
    margin-left: 3vw;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    position: relative;
    transition: 0.2s ease-in-out;
    opacity: 0.7;
    text-transform: uppercase;
}

nav li a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.2s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav li a:hover::after{
    width: 100%;
}

nav li a:hover{
    opacity: 1;
}

header h3{
    font-size: 3vh;
    color: var(--red);
    font-family: 'Oxanium', sans-serif;
    font-weight: 500;
    position: absolute;
    left: 5vw;
    top: 50%;
    transform: translateY(-125%);
}

a i{
    font-size: 3.5vh;
    color: var(--white);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease-out;
    cursor: pointer;
}

.fa-bars{
    right: 0;
    margin-right: 5vw;
}

.fa-close{
    font-size: 0;
    right: 0;
    margin-right: 5vw;
}

.home{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about{
    height: fit-content;
    padding-block: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.main-heading{
    font-size: clamp(2.5rem,8vw,8rem);
    font-family: 'Oxanium', sans-serif;
    font-weight: 500;
    position: relative;
    transform: translateY(-4vw);
}

.main-heading::before{
    content: "I'm ";
    font-family: 'Oxanium', sans-serif;
    font-weight: 500;
    font-size: clamp(1.5rem, 4.8vw, 6rem);
    color: var(--red);
}

.main-heading::after{
    content: "Just a random student";
    font-family: 'Oxanium', sans-serif;
    font-weight: 500;
    font-size: clamp(.75rem,2vw,4rem);
    color: var(--gray);
    position: absolute;
    top: 90%;
    left: 0%;
}

.home img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.about img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.projects img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.about-container{
    width: fit-content;
    margin-inline: 5%;
    height: fit-content;
    background: var(--gray);
    border-radius: 150px;
    padding-bottom: 5vw;
    margin-block: auto;
}

.about-heading{
    text-align: center;
    font-size: 5vh;
    font-family: 'Oxanium', sans-serif;
    font-weight: 500;
    color: var(--red);
    position: relative;
}

.about-heading::before{
    content: "";
    position: absolute;
    bottom: 5%;
    width: 80px;
    height: 3px;
    border-radius: 100px;
    background: white;
    opacity: 0.7;
}

.about p{
    font-size: 2.5vh;
    font-family: 'Oxanium', sans-serif;
    font-weight: 300;
    color: white;
    padding: 0px 30px;
    position: relative;
    text-align: justify;
}

.about p:before { content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 "; }

.about p a{
    color: white;
    transition: 0.2s ease-in-out;
    position: relative;
    text-decoration: none;
}

.about p a::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 2px;
    background: var(--red);
    transition: 0.2s ease-in-out;
}

.about p a:hover{
    color: var(--red);
}

.project-list{
    width: 85%;
    height: fit-content;
    background: var(--gray);
    border-radius: 30px;
    padding-inline: 5vw;
    padding-block: 5px;
    position: relative;
    margin:  20px auto;
    box-shadow: 5px 5px 3px var(--red);
}

.project-list h3{
    font-size: 25px;
    font-family: 'Oxanium', sans-serif;
    font-weight: 500;
    color: var(--red);
    margin-left: 2vw;
}

.project-list p{
    font-family: 'Oxanium', sans-serif;
    color: var(--white);
    font-size: 15px;
    transform: translateY(-75%);
    width: 50%;
    margin-left: 2vw;
}

.button1{
    background: var(--red);
    color: var(--gray);
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 30%;
    width: clamp(75px, 10vw, 300px);
    height: 5vh; 
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    border: hidden;
    cursor: pointer;
    font-family: 'Oxanium', sans-serif;
    font-weight: 700;
    font-size: 1.5vh;
    box-shadow: 0 0 7px var(--red);
}

.button2{
    background: var(--gray);
    color: var(--red);
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 10%;
    width: clamp(75px, 10vw, 300px);
    height: 5vh; 
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    border: 2px solid var(--red);
    cursor: pointer;
    font-family: 'Oxanium', sans-serif;
    font-weight: 700;
    font-size: 1.5vh;
    box-shadow: 0 0 7px var(--red);
}

.button1:hover{
    background: var(--gray);
    color: var(--red);
    border: 2px solid var(--red);
}

.button2:hover{
    background: var(--red);
    color: var(--gray);
    border: hidden;
}

.project-list::before{
    content: '1';
    width: 30px;
    height: 30px;
    background-color: var(--red);
    border-radius: 100px;
    position: absolute;
    text-align: center;
    font-size: 25px;
    color: var(--white);
    font-weight: 900;
    font-family: 'Oxanium',sans-serif;
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid var(--white);
}

.home button{
    background-color: var(--red);
    border: 2px solid var(--gray);
    cursor: pointer;
    width: clamp(75px, 10vw, 300px);
    height: 5vh; 
    border-radius: 100px;
    transition: 0.2s ease-in-out;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 7vh);
    color:var(--gray);
    font-weight: 500;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.5vh;
    text-transform: uppercase;
    box-shadow: 0 0 5px var(--red);
}

.home button:hover{
    color: var(--red);
    background-color: var(--gray);
    border-color: var(--red);
}

button:active{
    background-color: var(--gray);
    border-color: var(--red);
}

footer{
    width: 100%;
    height: fit-content;
    background-color: var(--gray);
    padding: 15px 0px;
    position: relative;
}

.sm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

footer a{
    text-decoration: none;
    color: var(--red);
}

.copyright{
    text-wrap: balance;
}

footer a p{
    color: var(--red);
    font-size: 1.5vh;
    font-family: 'Oxanium', sans-serif;
    font-weight: 300;
    text-align: center;
}

footer p{
    color: white;
    font-size: 2vh;
    font-family: 'Oxanium', sans-serif;
    text-align: center;
}

footer img{
    height: clamp(50px, 4vw, 100px);
    width: clamp(50px, 4vw, 100px);
    margin: 7px 7px;
    transition: 0.2s ease-in-out;
    cursor: pointer;;
}

footer img:hover{
    scale: 1.15;
}


@media (max-width: 700px) {
    .project-list h3,
    .project-list p{
        margin-left: 5vw;
    }
    nav li a{
        font-size: 0px;
    }
}

@media (max-width: 950px){
    .button2{
        font-size: 1.25vh;
    }
}

@media (max-width: 450px){
    .project-list p{
        transform: translateY(-25%);
        margin-left: 8vw;
    }
    .project-list h3{
        margin-left: 8vw;
    }
}

@media (max-width: 335px){
    .project-list h3{
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .about-container{
        border-radius: 100px;
    }

    .button1{
        right: 10%;
        top: 25%;
        transform: translateY(-50%);
        height: 4.75vh;
    }

    .button2{
        right: 10%;
        top: 75%;
        transform: translateY(-50%);
        height: 4.75vh;
    }
}

@media (min-width: 701px){
    a i{
        font-size: 0px;
    }

    header h3{
        font-size: 0;
    }
}